<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org">
	<head>
		<title>Taco Cloud</title>
		<link ref="stylesheet" th:href="@{/styles.css}"/>
	</head>
	
	<body>
		<h1>Design your taco!</h1>
		<img th:src="@{/images/Taco-Cloud.png}"/>
		
		
		<form method="POST" th:object="${taco}">
			<div class="grid">
 				<div class="ingredient-group" id="wraps">
					<h3>Design your wrap</h3>
					<div th:each="ingredient : ${wrap}">
						<input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
						<span th:text="${ingredient.name}">INGREDIENT</span>
					</div>
				</div>
				
				<div class="ingredient-group" id="proteins">
					<h3>Design your protein</h3>
					<div th:each="ingredient : ${protein}">
						<input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
						<span th:text="${ingredient.name}">INGREDIENT</span>
					</div>
				</div>
				
				<div class="ingredient-group" id="cheeses">
					<h3>Design your cheese</h3>
					<div th:each="ingredient : ${cheese}">
						<input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
						<span th:text="${ingredient.name}">INGREDIENT</span>
					</div>
				</div>
				
				<div class="ingredient-group" id="veggies">
					<h3>Design your veggies</h3>
					<div th:each="ingredient : ${veggies}">
						<input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
						<span th:text="${ingredient.name}">INGREDIENT</span>
					</div>
				</div>
				
				<div class="ingredient-group" id="sauces">
					<h3>Design your sauces</h3>
					<div th:each="ingredient : ${sauce}">
						<input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
						<span th:text="${ingredient.name}">INGREDIENT</span>
					</div>
				</div>
				
				<div>
					<h3>Name your taco creation</h3>
					<input type="text" th:field="*{name}"/>
					<br/>
					<button>Submit your taco</button>
				</div> 
				
			</div>
		</form>
	</body>

</html>